streamlit
langchain
openai
python-dotenv
google-generativeai
langchain-google-genai
audio-recorder-streamlit
openai  
pydub
google-cloud-speech
streamlit-audiorec
transformers
datasets 
torchaudio 
accelerate